.container {
  position: absolute;
  left: 50%;
  top: 40%;
  height: 33vw;
  width: 33vw;
  /* max-height: 33vh;
  max-width: 33vh; */
  transform: translate(-50%, -50%);
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
