.container {
  position: absolute;
  left: 50%;
  top: 40%;
  height: 33vw;
  width: 33vw;
  /* max-height: 33vh;
  max-width: 33vh; */
  transform: translate(-50%, -50%);
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.thumbnail {
  position: relative; /* Ensure the thumbnail div is a positioning context */
  width: 100px;
  height: 70px;
}

.thumbnail svg {
  position: absolute; /* Position the SVG relative to the thumbnail */
  top: 50%; /* Move the SVG's center to the middle of the container */
  left: 50%; /* Move the SVG's center to the middle of the container */
  transform: translate(-35%, -50%); /* Center the SVG by shifting it back by half its width and height */
}

@keyframes spinClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinCounterClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}